# Imports

In [10]:
import pickle
import numpy as np
import pandas as pd

# Sklearn
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

# Custom functions

In [11]:
def cross_val(model):
    pred = cross_val_score(model, X, y, cv=10)
    return pred.mean()

def print_evaluate(true, predicted):  
    mae = metrics.mean_absolute_error(true, predicted)
    print('MAE:', mae)
    
def evaluate(true, predicted):
    mae = metrics.mean_absolute_error(true, predicted)
    return mae

# Dataset

In [12]:
df = pd.read_csv("../data/numerical_df")

In [13]:
df.head()

,city,marker_icon,salary_mean,feature_office,feature_partly_remote,feature_remote,feature_junior,feature_mid,feature_senior,feature_b2b,feature_mandate_contract,feature_permanent,feature_large,feature_medium,feature_small,feature_very_small
0,14,3,8000.0,0,0,1,0,1,0,0,0,1,0,0,0,1
1,14,8,4000.0,0,0,1,1,0,0,0,0,1,0,0,0,1
2,14,14,10000.0,0,0,1,0,0,1,0,0,1,0,0,0,1
3,34,8,12000.0,0,0,1,0,1,0,1,0,0,0,0,0,1
4,12,11,19500.0,0,1,0,0,1,0,1,0,0,1,0,0,0

# Set target

In [14]:
y = df['salary_mean']
X = df.drop('salary_mean', axis=1)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2021)

# Model, train

In [16]:
# Create linear regression model
linear_model = LinearRegression(normalize=True)

# Train
linear_model.fit(X_train, y_train)

# Predict
prediction_test = linear_model.predict(X_test)
prediction_train  = linear_model.predict(X_train)

In [17]:
# Mae
print('Test set evaluation:')
print_evaluate(y_test, prediction_test)

print('====================================')
print('Train set evaluation:')
print_evaluate(y_train, prediction_train)

score = linear_model.score(X_test, y_test)

Test set evaluation:
MAE: 2881.4847953216376
====================================
Train set evaluation:
MAE: 2776.03105764411

In [18]:
with open('../app/models/linear_model', 'wb') as file:
    pickle.dump(linear_model, file)