# Imports

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/justjoin_jobs.csv", index_col=0)

In [3]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,.NET Developer,Plac Europejski 1,Warszawa,PL,"Plac Europejski 1, Warszawa",net,partly_remote,C. H. Robinson,https://www.chrobinson.pl/pl-pl/,15000,mid,52.232258,20.984269,2021-02-20T16:00:06.464Z,True,c-h-robinson-net-developer,"[{'type': 'permanent', 'salary': {'from': 7000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Azure', 'level': 1}, {'name': '.Net...",False
1,Mid DevOps Engineer,Aleje Jerozolimskie 93,Warszawa,PL,"Aleje Jerozolimskie 93, Warszawa",devops,partly_remote,STEPWISE,https://www.stepwise.pl/,30,mid,52.226816,20.998821,2021-02-20T16:00:06.464Z,True,stepwise-senior-devops-engineer,"[{'type': 'b2b', 'salary': {'from': 10000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Continuous Integration', 'level': 4...",False
2,Android Senior Software Engineer,Mokotowska 19,Warszawa,PL,"Mokotowska 19, Warszawa",mobile,partly_remote,ViacomCBS,https://www.viacbs.com/,10 000+,senior,52.220512,21.018066,2021-02-20T16:00:06.464Z,True,viacomcbs-android-senior-software-engineer,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'RxKotlin', 'level': 4}, {'name': 'K...",False
3,Junior Technical Implementation Engineer,Pałubickiego,Gdańsk,PL,"Pałubickiego, Gdańsk",support,office,Nevion Sp z o.o.,https://nevion.com/,200,junior,54.339482,18.553891,2021-02-20T16:00:06.464Z,True,nevion-sp-z-o-o-junior-technical-implementatio...,"[{'type': 'permanent', 'salary': {'from': 7000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Linux', 'level': 1}]",False
4,Senior Java Developer,centrum,Warszawa,PL,"centrum, Warszawa",java,remote,ASTEK Polska,http://astek.pl/,800,senior,52.229375,21.013196,2021-02-20T16:00:06.464Z,True,astek-polska-senior-java-developer-314d7fa6-4f...,"[{'type': 'b2b', 'salary': {'from': 16000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Hibernate', 'level': 4}, {'name': '...",True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4247 entries, 0 to 4246
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             4247 non-null   object
 1   street            4228 non-null   object
 2   city              4247 non-null   object
 3   country_code      4243 non-null   object
 4   address_text      4247 non-null   object
 5   marker_icon       4247 non-null   object
 6   workplace_type    4247 non-null   object
 7   company_name      4247 non-null   object
 8   company_url       4247 non-null   object
 9   company_size      4247 non-null   object
 10  experience_level  4247 non-null   object
 11  latitude          4247 non-null   float64
 12  longitude         4247 non-null   float64
 13  published_at      4247 non-null   object
 14  remote_interview  4247 non-null   bool
 15  id                4247 non-null   object
 16  employment_types  4247 non-null   object
 17  company_logo_url  4247 non-null   object
 18  skills            4247 non-null   object
 19  remote            4247 non-null   bool
dtypes: bool(2), float64(2), object(16)
memory usage: 638.7+ KB

# Null values

In [5]:
df.isnull().sum()

title                0
street              19
city                 0
country_code         4
address_text         0
marker_icon          0
workplace_type       0
company_name         0
company_url          0
company_size         0
experience_level     0
latitude             0
longitude            0
published_at         0
remote_interview     0
id                   0
employment_types     0
company_logo_url     0
skills               0
remote               0
dtype: int64

In [6]:
df.loc[df['country_code'].isnull() == True]

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
455,Frontend Developer,Nowy Świat 54/56,Warszawa,NaN,"Nowy Świat 54/56, Warszawa",javascript,partly_remote,Nebucode,https://www.nebucode.com/,11-50,mid,52.235090,21.018839,2021-02-20T08:00:08.967Z,True,nebucode-frontend-developer,"[{'type': 'mandate_contract', 'salary': {'from...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JS', 'level': 4}, {'name': 'CSS', '...",False
1759,Data Architect,Centrum,Warszawa,NaN,"Centrum, Warszawa",data,remote,DCV Technologies,http://www.dcvtechnologies.co.uk,20 - 50,senior,52.229375,21.013196,2021-02-18T09:00:09.998Z,True,dcv-technologies-data-architect-warszawa,"[{'type': 'b2b', 'salary': {'from': 18000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Data Integration', 'level': 4}, {'n...",True
2472,DevOps Engineer,Wołoska 24,Warszawa,NaN,"Wołoska 24, Warszawa",devops,remote,Inetum Polska Sp. z o.o.,https://gfieast.com/pl,200-450,mid,51.921253,19.145759,2021-02-17T00:00:06.927Z,True,gfi-poland-sp-z-o-o-devops-engineer-warszawa,"[{'type': 'permanent', 'salary': None}, {'type...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'CI / CD', 'level': 4}, {'name': 'Ja...",True
3200,Analityk IT,aleje jerozolimskie 162,Warszawa,NaN,"aleje jerozolimskie 162, Warszawa",analytics,partly_remote,Vienna Insurance Group Polska,http://www.vig-polska.pl/,1000+,mid,52.206306,20.942493,2021-02-15T11:06:00.000Z,True,vienna-insurance-group-polska-analityk-it,"[{'type': 'permanent', 'salary': {'from': 6000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'BPMN', 'level': 3}, {'name': 'Anali...",False

Jak widać, nie ma za dużo pustych wartości, dlatego zostawimy obecne dane i postaramy się coś z nimi zrobić. Dla kolumny city, można będzie przypisać stałą wartość, natomiast dla **country_code** uzupełnić lub wygenerować ;)

In [7]:
df['country_code'] = df['country_code'].fillna('PL')

In [8]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,.NET Developer,Plac Europejski 1,Warszawa,PL,"Plac Europejski 1, Warszawa",net,partly_remote,C. H. Robinson,https://www.chrobinson.pl/pl-pl/,15000,mid,52.232258,20.984269,2021-02-20T16:00:06.464Z,True,c-h-robinson-net-developer,"[{'type': 'permanent', 'salary': {'from': 7000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Azure', 'level': 1}, {'name': '.Net...",False
1,Mid DevOps Engineer,Aleje Jerozolimskie 93,Warszawa,PL,"Aleje Jerozolimskie 93, Warszawa",devops,partly_remote,STEPWISE,https://www.stepwise.pl/,30,mid,52.226816,20.998821,2021-02-20T16:00:06.464Z,True,stepwise-senior-devops-engineer,"[{'type': 'b2b', 'salary': {'from': 10000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Continuous Integration', 'level': 4...",False
2,Android Senior Software Engineer,Mokotowska 19,Warszawa,PL,"Mokotowska 19, Warszawa",mobile,partly_remote,ViacomCBS,https://www.viacbs.com/,10 000+,senior,52.220512,21.018066,2021-02-20T16:00:06.464Z,True,viacomcbs-android-senior-software-engineer,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'RxKotlin', 'level': 4}, {'name': 'K...",False
3,Junior Technical Implementation Engineer,Pałubickiego,Gdańsk,PL,"Pałubickiego, Gdańsk",support,office,Nevion Sp z o.o.,https://nevion.com/,200,junior,54.339482,18.553891,2021-02-20T16:00:06.464Z,True,nevion-sp-z-o-o-junior-technical-implementatio...,"[{'type': 'permanent', 'salary': {'from': 7000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Linux', 'level': 1}]",False
4,Senior Java Developer,centrum,Warszawa,PL,"centrum, Warszawa",java,remote,ASTEK Polska,http://astek.pl/,800,senior,52.229375,21.013196,2021-02-20T16:00:06.464Z,True,astek-polska-senior-java-developer-314d7fa6-4f...,"[{'type': 'b2b', 'salary': {'from': 16000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Hibernate', 'level': 4}, {'name': '...",True

# Dodajmy kilka nowych cech

Jak możemy zauważyć kolumna **employment_types** oraz **skills** zawierają dużo ciekawych danych, które warto wykorzystać.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4247 entries, 0 to 4246
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             4247 non-null   object
 1   street            4228 non-null   object
 2   city              4247 non-null   object
 3   country_code      4247 non-null   object
 4   address_text      4247 non-null   object
 5   marker_icon       4247 non-null   object
 6   workplace_type    4247 non-null   object
 7   company_name      4247 non-null   object
 8   company_url       4247 non-null   object
 9   company_size      4247 non-null   object
 10  experience_level  4247 non-null   object
 11  latitude          4247 non-null   float64
 12  longitude         4247 non-null   float64
 13  published_at      4247 non-null   object
 14  remote_interview  4247 non-null   bool
 15  id                4247 non-null   object
 16  employment_types  4247 non-null   object
 17  company_logo_url  4247 non-null   object
 18  skills            4247 non-null   object
 19  remote            4247 non-null   bool
dtypes: bool(2), float64(2), object(16)
memory usage: 638.7+ KB

In [10]:
df['employment_types'] = df['employment_types'].apply(lambda x: eval(x.strip('[]')))
df['skills'] = df['skills'].apply(lambda x: eval(x.strip('[]')))

In [11]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,.NET Developer,Plac Europejski 1,Warszawa,PL,"Plac Europejski 1, Warszawa",net,partly_remote,C. H. Robinson,https://www.chrobinson.pl/pl-pl/,15000,mid,52.232258,20.984269,2021-02-20T16:00:06.464Z,True,c-h-robinson-net-developer,"{'type': 'permanent', 'salary': {'from': 7000,...",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'Azure', 'level': 1}, {'name': '.Net...",False
1,Mid DevOps Engineer,Aleje Jerozolimskie 93,Warszawa,PL,"Aleje Jerozolimskie 93, Warszawa",devops,partly_remote,STEPWISE,https://www.stepwise.pl/,30,mid,52.226816,20.998821,2021-02-20T16:00:06.464Z,True,stepwise-senior-devops-engineer,"{'type': 'b2b', 'salary': {'from': 10000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'Continuous Integration', 'level': 4...",False
2,Android Senior Software Engineer,Mokotowska 19,Warszawa,PL,"Mokotowska 19, Warszawa",mobile,partly_remote,ViacomCBS,https://www.viacbs.com/,10 000+,senior,52.220512,21.018066,2021-02-20T16:00:06.464Z,True,viacomcbs-android-senior-software-engineer,"{'type': 'permanent', 'salary': None}",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'RxKotlin', 'level': 4}, {'name': 'K...",False
3,Junior Technical Implementation Engineer,Pałubickiego,Gdańsk,PL,"Pałubickiego, Gdańsk",support,office,Nevion Sp z o.o.,https://nevion.com/,200,junior,54.339482,18.553891,2021-02-20T16:00:06.464Z,True,nevion-sp-z-o-o-junior-technical-implementatio...,"{'type': 'permanent', 'salary': {'from': 7000,...",https://bucket.justjoin.it/offers/company_logo...,"{'name': 'Linux', 'level': 1}",False
4,Senior Java Developer,centrum,Warszawa,PL,"centrum, Warszawa",java,remote,ASTEK Polska,http://astek.pl/,800,senior,52.229375,21.013196,2021-02-20T16:00:06.464Z,True,astek-polska-senior-java-developer-314d7fa6-4f...,"{'type': 'b2b', 'salary': {'from': 16000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'Hibernate', 'level': 4}, {'name': '...",True

In [12]:
def get_contract_type(data):
    if len(data) > 1:
        try:
            return data['type']
        except:
            return "More"
    return data['type']

In [13]:
df['contract_type'] = df['employment_types'].apply(lambda x: get_contract_type(x))

In [14]:
df['contract_type'].unique()

array(['permanent', 'b2b', 'More', 'mandate_contract'], dtype=object)

In [15]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote,contract_type
0,.NET Developer,Plac Europejski 1,Warszawa,PL,"Plac Europejski 1, Warszawa",net,partly_remote,C. H. Robinson,https://www.chrobinson.pl/pl-pl/,15000,...,52.232258,20.984269,2021-02-20T16:00:06.464Z,True,c-h-robinson-net-developer,"{'type': 'permanent', 'salary': {'from': 7000,...",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'Azure', 'level': 1}, {'name': '.Net...",False,permanent
1,Mid DevOps Engineer,Aleje Jerozolimskie 93,Warszawa,PL,"Aleje Jerozolimskie 93, Warszawa",devops,partly_remote,STEPWISE,https://www.stepwise.pl/,30,...,52.226816,20.998821,2021-02-20T16:00:06.464Z,True,stepwise-senior-devops-engineer,"{'type': 'b2b', 'salary': {'from': 10000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'Continuous Integration', 'level': 4...",False,b2b
2,Android Senior Software Engineer,Mokotowska 19,Warszawa,PL,"Mokotowska 19, Warszawa",mobile,partly_remote,ViacomCBS,https://www.viacbs.com/,10 000+,...,52.220512,21.018066,2021-02-20T16:00:06.464Z,True,viacomcbs-android-senior-software-engineer,"{'type': 'permanent', 'salary': None}",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'RxKotlin', 'level': 4}, {'name': 'K...",False,permanent
3,Junior Technical Implementation Engineer,Pałubickiego,Gdańsk,PL,"Pałubickiego, Gdańsk",support,office,Nevion Sp z o.o.,https://nevion.com/,200,...,54.339482,18.553891,2021-02-20T16:00:06.464Z,True,nevion-sp-z-o-o-junior-technical-implementatio...,"{'type': 'permanent', 'salary': {'from': 7000,...",https://bucket.justjoin.it/offers/company_logo...,"{'name': 'Linux', 'level': 1}",False,permanent
4,Senior Java Developer,centrum,Warszawa,PL,"centrum, Warszawa",java,remote,ASTEK Polska,http://astek.pl/,800,...,52.229375,21.013196,2021-02-20T16:00:06.464Z,True,astek-polska-senior-java-developer-314d7fa6-4f...,"{'type': 'b2b', 'salary': {'from': 16000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"({'name': 'Hibernate', 'level': 4}, {'name': '...",True,b2b

## Price

In [16]:
def get_salary(data, label="from"):
    if len(data) > 1:
        try:
            return data['salary'][label]
        except:
            return "None"
    return data['salary'][label]

In [17]:
df['salary_min'] = df['employment_types'].apply(lambda x: get_salary(x))
df['salary_max'] = df['employment_types'].apply(lambda x: get_salary(x, label="to"))

# Skills and Technology

In [18]:
df['skills'] = df['skills'].apply(lambda x: list(x))

In [19]:
def get_skill(x):
    skills = []
    for num_skills in range(len(x)):
        try:
            skills.append(x[num_skills]['name'])
        except:
            continue
    return skills

def get_level(x):
    levels = []
    for num_skills in range(len(x)):
        try:
            levels.append(x[num_skills]['level'])
        except:
            continue
    return levels

In [20]:
df['technology'] = df['skills'].apply(lambda x: get_skill(x))
df['levels'] = df['skills'].apply(lambda x: get_level(x))

In [21]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,id,employment_types,company_logo_url,skills,remote,contract_type,salary_min,salary_max,technology,levels
0,.NET Developer,Plac Europejski 1,Warszawa,PL,"Plac Europejski 1, Warszawa",net,partly_remote,C. H. Robinson,https://www.chrobinson.pl/pl-pl/,15000,...,c-h-robinson-net-developer,"{'type': 'permanent', 'salary': {'from': 7000,...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Azure', 'level': 1}, {'name': '.Net...",False,permanent,7000,13000,"[Azure, .Net, C#]","[1, 4, 4]"
1,Mid DevOps Engineer,Aleje Jerozolimskie 93,Warszawa,PL,"Aleje Jerozolimskie 93, Warszawa",devops,partly_remote,STEPWISE,https://www.stepwise.pl/,30,...,stepwise-senior-devops-engineer,"{'type': 'b2b', 'salary': {'from': 10000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Continuous Integration', 'level': 4...",False,b2b,10000,15000,"[Continuous Integration, Linux, Docker]","[4, 4, 4]"
2,Android Senior Software Engineer,Mokotowska 19,Warszawa,PL,"Mokotowska 19, Warszawa",mobile,partly_remote,ViacomCBS,https://www.viacbs.com/,10 000+,...,viacomcbs-android-senior-software-engineer,"{'type': 'permanent', 'salary': None}",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'RxKotlin', 'level': 4}, {'name': 'K...",False,permanent,None,None,"[RxKotlin, Kotlin, Android]","[4, 5, 5]"
3,Junior Technical Implementation Engineer,Pałubickiego,Gdańsk,PL,"Pałubickiego, Gdańsk",support,office,Nevion Sp z o.o.,https://nevion.com/,200,...,nevion-sp-z-o-o-junior-technical-implementatio...,"{'type': 'permanent', 'salary': {'from': 7000,...",https://bucket.justjoin.it/offers/company_logo...,"[name, level]",False,permanent,7000,10000,[],[]
4,Senior Java Developer,centrum,Warszawa,PL,"centrum, Warszawa",java,remote,ASTEK Polska,http://astek.pl/,800,...,astek-polska-senior-java-developer-314d7fa6-4f...,"{'type': 'b2b', 'salary': {'from': 16000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Hibernate', 'level': 4}, {'name': '...",True,b2b,16000,20600,"[Hibernate, Java, Spring]","[4, 4, 4]"

# Drop columns

In [22]:
df.columns

Index(['title', 'street', 'city', 'country_code', 'address_text',
       'marker_icon', 'workplace_type', 'company_name', 'company_url',
       'company_size', 'experience_level', 'latitude', 'longitude',
       'published_at', 'remote_interview', 'id', 'employment_types',
       'company_logo_url', 'skills', 'remote', 'contract_type', 'salary_min',
       'salary_max', 'technology', 'levels'],
      dtype='object')

In [23]:
columns_to_drop = ['street', 'address_text', 'company_url', 'id', 'company_logo_url', 'employment_types', 'skills']

In [24]:
df = df.drop(labels=columns_to_drop, axis=1)

In [25]:
df.head()

,title,city,country_code,marker_icon,workplace_type,company_name,company_size,experience_level,latitude,longitude,published_at,remote_interview,remote,contract_type,salary_min,salary_max,technology,levels
0,.NET Developer,Warszawa,PL,net,partly_remote,C. H. Robinson,15000,mid,52.232258,20.984269,2021-02-20T16:00:06.464Z,True,False,permanent,7000,13000,"[Azure, .Net, C#]","[1, 4, 4]"
1,Mid DevOps Engineer,Warszawa,PL,devops,partly_remote,STEPWISE,30,mid,52.226816,20.998821,2021-02-20T16:00:06.464Z,True,False,b2b,10000,15000,"[Continuous Integration, Linux, Docker]","[4, 4, 4]"
2,Android Senior Software Engineer,Warszawa,PL,mobile,partly_remote,ViacomCBS,10 000+,senior,52.220512,21.018066,2021-02-20T16:00:06.464Z,True,False,permanent,None,None,"[RxKotlin, Kotlin, Android]","[4, 5, 5]"
3,Junior Technical Implementation Engineer,Gdańsk,PL,support,office,Nevion Sp z o.o.,200,junior,54.339482,18.553891,2021-02-20T16:00:06.464Z,True,False,permanent,7000,10000,[],[]
4,Senior Java Developer,Warszawa,PL,java,remote,ASTEK Polska,800,senior,52.229375,21.013196,2021-02-20T16:00:06.464Z,True,True,b2b,16000,20600,"[Hibernate, Java, Spring]","[4, 4, 4]"

In [27]:
df.to_csv("../data/clear_data.csv", index=False)