# Imports

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("../data/numerical_df")

In [10]:
df.head()

,city,marker_icon,company_size_feature,salary_mean,feature_office,feature_partly_remote,feature_remote,feature_junior,feature_mid,feature_senior,feature_b2b,feature_mandate_contract,feature_permanent
0,38,8,0,22200.0,0,0,1,0,0,1,1,0,0
1,38,7,0,21000.0,0,0,1,0,0,1,1,0,0
2,24,21,1,15300.0,0,0,1,0,0,1,1,0,0
3,24,21,1,9500.0,0,0,1,0,1,0,1,0,0
4,38,14,0,21500.0,0,0,1,0,0,1,1,0,0

In [18]:
y = df['salary_mean']
X = df.drop('salary_mean', axis=1)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(all_features, target, test_size=0.3, random_state=2021)

In [35]:
from sklearn import metrics
from sklearn.model_selection import cross_val_score

def cross_val(model):
    pred = cross_val_score(model, X, y, cv=10)
    return pred.mean()

def print_evaluate(true, predicted):  
    mae = metrics.mean_absolute_error(true, predicted)
    print('MAE:', mae)
    
def evaluate(true, predicted):
    mae = metrics.mean_absolute_error(true, predicted)
    return mae

In [37]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression(normalize=True)
lin_reg.fit(X_train,y_train)

pred = lin_reg.predict(X_test)

test_pred = lin_reg.predict(X_test)
train_pred = lin_reg.predict(X_train)


print('Test set evaluation:')
print_evaluate(y_test, test_pred)
print('====================================')
print('Train set evaluation:')
print_evaluate(y_train, train_pred)

Test set evaluation:
MAE: 2757.165644171779
====================================
Train set evaluation:
MAE: 2770.7572406529753